<<<<<<< HEAD
body {font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(255, 125, 255);
    padding: 20px;
}

h1 {
    color: rgb(129, 2, 2);
}

img {
    margin-top: 10px;
=======
body {font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(255, 125, 255);
    padding: 20px;
}

h1 {
    color: rgb(129, 2, 2);
}

img {
    margin-top: 10px;
>>>>>>> 49de873267f20089cf90447df33cbe03a3c470b2
}